doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Vue Test
    meta(name='description', content='Test of vue.js capabilities')
    meta(name='author', content='Martin Gostisha')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')

    link(href='/assets/css/app.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="icon", href="/assets/img/vue-icon.png", type="image/x-icon")

    script(src='/node_modules/moment/moment.js')
    script(src='/node_modules/vue/dist/vue.js')

  body
    #app
    script(src='/dist/app.client.js')