div
  h1.custom-vue-style This is a .vue component!
  h3.custom-vue-style-two data.msg: {{ msg }}
  h3.custom-vue-style-two msgFromParent: {{ msgFromParent }}
  h3 data.newProp: {{ newProp }}
  button(v-on:click="addNewProp()") Add A newProp!
  slot(name="p-slot")