div
  h3.app-header To Do List
  ul
    li(v-for="item of items")
      | {{ item.name }}
      button.button-spacer(v-on:click="removeItem($index)")
        | X
  h5 Add An Item
    input.item-input(v-model="newItem", v-on:keyup.enter="addItem()")
  hr
  slot(name="p-slot")